<div class="qmialert" *ngIf="alert">
    <div #qmialert class="alert alert-dismissible fade show" [ngClass]="alert.type" role="alert">
        <h5 class="alert-heading"><span>{{alert.type === 'alert-primary'? 'Done!' : 'Oops'}}</span></h5>
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        <h6 class="alert-heading">
            <span *ngIf="alert.type === 'alert-warning'" class="fa fa-warning"></span>
            <span *ngIf="alert.type === 'alert-primary'" class="fa fa-info-circle"></span>
            <span>&nbsp;&nbsp;{{alert.text}}</span>
        </h6>     
    </div>
</div>
