<!--Content-->
<div class="modal-content text-center">
    <!--Header-->
    <div class="modal-header d-flex justify-content-center">
      <p class="heading">{{info.title}}</p>
    </div>

    <!--Body-->
    <div class="modal-body">
      <mdb-icon fas icon="{{info.icon}}" size="4x" class="animated rotateIn"></mdb-icon>
    </div>

    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a type="button" mdbBtn color="{{info.buttonColor}}" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="confirm();">Yes</a>
      <a type="button" mdbBtn color="{{info.buttonColor}}" size="sm" class="waves-effect" data-dismiss="modal" (click)="modalRef.hide()" mdbWavesEffect>No</a>
    </div>
</div>
  <!--/.Content-->