<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Edit VM Type</h4>
    </div>
    <div class="modal-body" style="max-height: 650px; overflow: auto;">
        <div>
            <div class="md-form">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.type" id="type1" class="form-control">
                <label for="type1" class="">Type (*):</label>
              </div>
              <div class="md-form">
                <input mdbInput type="text" name="text" [(ngModel)]="sendData.desc" id="desc1" class="form-control">
                <label for="desc1" class="">Description (*):</label>
              </div>
              <div class="md-form">
                <textarea mdbInput type="number" [(ngModel)]="sendData.costHour" id="cost1" class="form-control"></textarea>
                <label for="cost1">Cost Hour ($) (*):</label>
              </div>
              <section style="padding: 20px 0px; margin: 0px 20px">
                <mdb-checkbox (change)="checkOnchange($event, 'disabled')" [checked]="sendData.disabled" [default]="false">Disabled?</mdb-checkbox>
              </section>
        </div>
    </div>
    
    <div class="modal-footer d-flex justify-content-center">
      <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Cancel</button>
      <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
    </div>
</div>
<!--/.Content-->