<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Edit API Key</h4>
    </div>
    <div class="modal-body" style="max-height: 650px; overflow: auto;">
        <div>
            <section style="padding: 20px 0px;">
                <label>User (*):</label>
                <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedUser">
                  <option *ngFor="let item of users" [value]="item._id">{{item.displayName}}</option>
                </select>
            </section>
        </div>
    </div>
    
    <div class="modal-footer d-flex justify-content-center">
      <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Cancel</button>
      <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
    </div>
</div>
<!--/.Content-->