<!--Content-->
<div class="modal-content">
    <div class="modal-header text-center">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Edit scenario</h4>
    </div>
    <div class="modal-body" style="max-height: 650px; overflow: auto;">
        <div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.name" id="name1" class="form-control">
            <label for="name1" class="">Name (*):</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.version" id="version1" class="form-control">
            <label for="version1" class="">Version (*):</label>
          </div>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.title" id="title1" class="form-control">
            <label for="title1" class="">Title (*):</label>
          </div>
          <div class="md-form">
            <textarea mdbInput type="text" [(ngModel)]="sendData.description" id="desc1" class="md-textarea form-control"></textarea>
            <label for="desc1">Description (*):</label>
          </div>
          <section style="padding: 20px 0px;">
            <label>Deploy options (*):</label>
            <select class="browser-default custom-select custom-select-sm" [(ngModel)]="selectedSubscription">
              <option *ngFor="let item of subscriptions" [value]="item._id">{{item.description}}</option>
            </select>
          </section>
          <section style="padding: 20px 0px;">
            <label>Product Version object (*):</label>
            <pre style="border: 1px solid #ccc;" contenteditable="true" (blur)="updateJson($event, 'availableProductVersions')">{{sendData.availableProductVersions | json}}</pre>      
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isAdminOnly')" [checked]="sendData.isAdminOnly" [default]="false"><mdb-icon fas icon="user-secret" class="grey-text" aria-hidden="true"></mdb-icon> Only for Administrators?</mdb-checkbox>
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isExternal')" [checked]="sendData.isExternal" [default]="false"><mdb-icon fas icon="globe-americas" class="grey-text" aria-hidden="true"></mdb-icon> With External Access?</mdb-checkbox>
          </section>
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isWafPolicyAppGw')" [checked]="sendData.isWafPolicyAppGw" [default]="false"><mdb-icon fas icon="fire-extinguisher" class="grey-text" aria-hidden="true"></mdb-icon> Apply WAF policy after provision?</mdb-checkbox>
          </section>
          <!--<section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isVnetIsolated')" [checked]="sendData.isVnetIsolated" [default]="false"><mdb-icon fas icon="network-wired" class="grey-text" aria-hidden="true"></mdb-icon> Isolated Vnet (secure)?</mdb-checkbox>
          </section>-->
          <section style="padding: 20px 0px; margin: 0px 20px">
            <mdb-checkbox (change)="checkOnchange($event, 'isDisabled')" [checked]="sendData.isDisabled" [default]="false"><mdb-icon fas icon="ban" class="grey-text" aria-hidden="true"></mdb-icon> Is disabled?</mdb-checkbox>
          </section>
          <div class="md-form">
            <input mdbInput type="text" name="text" [(ngModel)]="sendData.newImageName" id="image1" class="form-control">
            <label for="image1" class="">New Image Name (Only for GEN scenarios):</label>
          </div>
        </div>
    </div>
    
    <div class="modal-footer d-flex justify-content-center">
      <button style="margin-right: 100px;" *ngIf="sendData._id" mdbBtn color="danger" outline="true" class="waves-light" size="sm" mdbWavesEffect (click)="delete();">Delete</button>
      <button mdbBtn color="dark-green" size="sm" outline="true" class="waves-effect" mdbWavesEffect (click)="modalRef.hide()">Cancel</button>
      <button mdbBtn color="dark-green" class="waves-light" size="sm" mdbWavesEffect (click)="confirm();">Save</button>
    </div>
</div>
<!--/.Content-->