.modal-body {
    max-height: 600px;
    overflow: auto;
}

.mydata {
    font-family: 'Courier New', Courier, monospace;
}

.info-subtitle {
    padding-top: 10px; 
    text-align: center;
    text-decoration: underline;
}