<div #insideElement class="provlogs" [ngStyle]="{'width': show? '70%': '0px'}">
  <div *ngIf="type && selectedprov" style="padding: 25px;">
    <button class="lui-button  lui-button--gradient" (click)="close()"><i class="fa fa-times"></i></button>
    <button style="margin-left: 10px;" class="lui-button  lui-button--gradient" (click)="refresh()"><i class="fa fa-refresh"></i></button>
    <br>
    <br>
    <h2 style="text-transform: capitalize;">{{type}} Logs</h2>
    <h3 *ngIf="type === 'provision'">{{selectedprov._id}} - {{selectedprov.scenario}}</h3>
    <h3 *ngIf="selectedprov.destroy && type === 'destroy'">{{selectedprov.destroy._id}} - {{selectedprov.scenario}}</h3>
    <pre *ngIf="content" class="mypre">{{content}}</pre>
    <br>
    <br>
    <button class="lui-button  lui-button--gradient" (click)="close()"><i class="fa fa-times"></i></button>
    <button style="margin-left: 10px;" class="lui-button  lui-button--gradient" (click)="refresh()"><i class="fa fa-refresh"></i></button>
  </div>
</div>
