<nav class="navbar navbar-dark bg-dark mb-5 fixed-top">
  <a class="navbar-brand" href="/">QMI Cloud</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a *ngIf="user" class="nav-item nav-link" routerLink="/provisions" routerLinkActive="active">Provisions</a>
      <a *ngIf="user && (user.role === 'admin' || user.role === 'superadmin')" class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
      <a *ngIf="user && (user.role === 'admin' || user.role === 'superadmin')" class="nav-item nav-link" href="/api-docs" target="blank">API Docs</a>
      <a *ngIf="user" class="nav-item nav-link " style="font-weight: bold;">Hello {{user.displayName}}</a>
      <a *ngIf="!user" class="nav-item nav-link" style="color: #009845 !important;" href="/login">Login <mdb-icon fas icon="sign-in-alt"></mdb-icon></a>
      <a *ngIf="user" href (click)="logout($event)" class="nav-item nav-link" style="color: #009845 !important;">Logout <mdb-icon fas icon="sign-out-alt"></mdb-icon></a>
    </div>
  </div>
</nav>