td.ell {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h1 {
    font-weight: 200;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .box {
        border: 1px solid #ccc;
        background: white;
        /*flex-grow: 1;*/
        min-height: 100px;
        /*width: 340px;*/
        margin-bottom: 10px;
        margin-right: 10px;
        max-width: 400px;
        position: relative;

        .title {
            &.desc {
                height: 42px;
                max-height: 42px;
                min-height: 42px;
                border-top: 1px solid #fff;
            }
            padding: 10px;
            min-height: 66px;
            background: #54565A;
            color: white;
            .maintitle {
                font-weight: bold;
                font-size: 16px;
            }
            .subtitle {
                font-style: italic;
                font-weight: bold;
                font-size: 14px;
                text-overflow: ellipsis;
                /* Required for text-overflow to do anything */
                white-space: nowrap;
                overflow: hidden;    
            }

            &.queued, &.initializing, &.provisioning {
                background: #54565A;
            }
    
            &.provisioned {
                background: #009845;
                &.Stopped, &.Starting {
                    background: #FFC72A;
                    color: #595959;
                }
            }
            &.error {
                background: #E7004C;
            }

            &.error_init {
                background: #E7004C;
            }

            &.error_plan {
                background: #E7004C;
            }
    
            &.destroyed {
                background: #ccc;
                color: #777;
            }
        }  

        .contentbox {
            font-size: 12px;
            padding: 10px;
        }

        .buttons {
            padding: 10px;
            width: 100%;
            .compact {
                width: calc(80% - 5px);
                margin-right: 5px;
            }
        }        
    }
}

.mypre {        
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap;
}

.modal-popover {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    .lui-popover {
        max-width: 700px;
    }
    .popover-content {
        position: relative;
        top: 10%;
    }
    .lui-popover__body {
        font-size: 14px;
        max-height: 600px;
        overflow: auto;
    }
}