<ul style="margin-top: 80px;" class="nav nav-pills nav-fill">
    <li *ngFor="let item of sections; let i = index" class="nav-item">
        <a class="nav-link" (click)="tabSelect($event, item)" [ngClass]="{'active': tab === item}">{{item}}</a>
    </li>
</ul>

<div *ngIf="tab === 'Scenarios'">
   <!--<h1>Scenarios</h1>-->
    <table-scenarios></table-scenarios>
</div>
<div *ngIf="tab === 'Scenario Deploy Opts'">
    <!--<h1>Scenarios</h1>-->
     <table-subscriptions></table-subscriptions>
</div>
<div *ngIf="tab === 'Provisions'">
    <!--<h1>Provisions</h1>-->
    <table-provisions></table-provisions>
</div>
<div *ngIf="tab === 'Users'">
    <!--<h1>Users</h1>-->
    <table-users></table-users>
</div>
<div *ngIf="tab === 'Notifications'">
  <!--<h1>Scenarios</h1>-->
   <table-notifications></table-notifications>
</div>
<div *ngIf="tab === 'API keys'">
    <!--<h1>Scenarios</h1>-->
     <table-apikeys></table-apikeys>
</div>

<div *ngIf="tab === 'VM Types'">
    <!--<h1>Scenarios</h1>-->
     <table-vmtypes></table-vmtypes>
</div>

<qmi-alert></qmi-alert>
