<p>
  <mdb-icon fas icon="globe-americas" size="lg" class="grey-text pr-1" aria-hidden="true"></mdb-icon>Scenario with External Access available
  <span *ngIf="user && (user.role === 'admin' || user.role === 'superadmin')"><mdb-icon fas icon="user-secret" size="lg" class="ml-5 grey-text pr-1" aria-hidden="true"></mdb-icon>Only Administrators can see</span>
</p>

<div class="md-form">
  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  <input type="search" [(ngModel)]="searchText" class="ml-2" placeholder="Search text">
</div>

<div class="flexcontainer">

  <mdb-card class="qmicard" *ngFor="let s of scenarios | filter: searchText">
    <!--Card content-->
    <div class="card-badge">
      <mdb-icon *ngIf="s.isExternal" fas icon="globe-americas" size="lg" class="grey-text" aria-hidden="true" mdbTooltip="External Access available" placement="top"></mdb-icon>
      <mdb-icon *ngIf="s.isAdminOnly" fas icon="user-secret" size="lg" class="grey-text" aria-hidden="true" mdbTooltip="Only Administrators can see" placement="top"></mdb-icon>
    </div>
    <mdb-card-header>
      <!--Title-->
      <mdb-card-title>
        <h4 [innerHTML]="s.title"></h4>
        <h6><i>{{s.name}} (v{{s.version}})</i></h6>
      </mdb-card-title>
    </mdb-card-header>
    <mdb-card-body>
      
      <!--Text-->
      <mdb-card-text> 
        <div [innerHTML]="s.description"></div>
      </mdb-card-text>
     
    </mdb-card-body>
    <mdb-card-footer>
      <button mdbBtn mdbTooltip="Provision" type="button" style="margin-top: 5px;" block="true" size="sm" color="dark-green" (click)="openNewProvisionConfirmModal(s)" mdbWavesEffect>Provision <i class="fa fa-download"></i></button>
    </mdb-card-footer>
  </mdb-card>
</div> 
