.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .btn {
        box-shadow: none;
    }

    .qmicard {
        margin-bottom: 20px;
        margin-right: 20px;
        position: relative;
        max-width: 500px;

        .card-badge {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        
        .card-body {
            padding:10px 15px;
        }
        .card-text {
            font-size: .8rem;
            font-weight: 300;
        }
        .card-header {
            padding: 10px 15px;
            border-bottom: none;
        }
        
        .card-footer {
            padding:10px 15px;
            background-color: #fff;
            border-top: none;
        }
    }

    .box {
        border: 1px solid #ccc;
        border-radius: 8px;
        background: white;
        /*flex-grow: 1;*/
        min-height: 100px;
        /*width: 360px;*/
        margin-bottom: 20px;
        margin-right: 20px;
        padding: 10px;
        position: relative;
        max-width: 500px;

        .title {
            min-height: 66px;
            .maintitle {
                color: #388e3c;
                font-weight: bold;
                font-size: 16px;
            }
            .subtitle {
                font-style: italic;
                font-size: 14px;
                font-weight: bold;
            }
        }

        .label {
            font-size: 12px;
            padding-right: 5px;
            display: inline-block;
            font-weight: bold;
        }

        .buttons {
            width: 100%;
            
            .nocompact {
                width: calc(100% - 131px);
            }
            .compact {
                width: calc(100% - 241px);
                margin-right: 5px;
            }
        }
    }
}

.description {
    font-size: 12px;
    padding: 10px 0;
    min-height: 70px;
}