.modal-popover {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    .lui-popover {
        max-width: 700px;
    }
    .popover-content {
        position: relative;
        top: 10%;
    }
    .lui-popover__body {
        font-size: 14px;
        max-height: 600px;
        overflow: auto;
    }
}

.table tr:hover {
    cursor: pointer;
}

.table td {
    vertical-align: middle;
}