<button class="lui-button" (click)="open();" [innerHTML]="buttonConfig.html" [ngClass]="buttonConfig.class"></button>
<div class="popover-content" #popovercontent style="display: none; position: absolute;">
  <div class="lui-popover" style="width: 400px;">
    <div class="lui-popover__header">
      <div class="lui-popover__title">{{popupConfig.title}}</div>
    </div>
    <div class="lui-popover__body">
      {{popupConfig.body}}
    </div>
    <div class="lui-popover__footer">
      <button class="lui-button lui-popover__button" (click)="cancel();">Cancel</button>
      <button class="lui-button lui-popover__button close-button" (click)="ok();">OK</button>
    </div>
  </div>
</div>
