/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~leonardo-ui/dist/leonardo-ui.css";

body {
    font-family: "QlikView Sans",sans-serif;
    color: #595959;
}

@font-face {
    font-family: "LUI icons";
    src: url(~leonardo-ui/dist/lui-icons.woff) format('woff'),
       url(~leonardo-ui/dist/lui-icons.ttf) format('truetype');
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link.active {
    color: #009845 !important;
    font-weight: bold;
}

.modal-dialog.modal-notify.modal-info {
    .modal-header {
        background-color: #616161 !important;
    }
    .fas {
        color: #616161 !important;
    }
}
//@import "assets/album.css";