<section style="margin-top: 220px; min-height: 600px;" class="text-center">
  <div class="container">
    <img class="rounded float-right" src="assets/cloud.png" style="width: 300px;">
    <h1>QMI Cloud</h1>
    <p class="lead text-muted">Introducing a new way to launch scenarios based on Qlik software in the Cloud.</p>
    <p *ngIf="!user">
      <a mdbBtn href="/login" color="dark-green" mdbWavesEffect>Login <mdb-icon fas icon="sign-in-alt"></mdb-icon></a>    </p>
    <p *ngIf="user">
      <a mdbBtn color="elegant" routerLink="/provisions">Your Provisions <mdb-icon fas icon="angle-right"></mdb-icon></a>
    </p>
  </div>
</section>